#mainScreen {
  height: 200px;
  width: 500px;
  border: 2px solid #000000;
  margin: 3%;
} 

input {
  margin: 2%;
}

#title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin: 1% 0 2% 2%;
}
